hr.solid {
  border-bottom: 1px solid black;
}

.rounded-container {
  background-color: white;
  max-width: 300px;
  margin: 8px auto;
  border-radius: 8px;
  padding: 8px;
  display: flex;
}

body {
  background-color: lightgrey;
}

.app-header h1 {
  margin-left: 16px;
}

.cl-red {
  color: red;
}